.content.fadeIn
    .introduce
        #name
            | OH
            p#first-name HAN JIN
        #profile-skill
            #profile
                h1 PROFILE
                p#profile-firstText
                    | &rarr; 풀스택 개발자를 목표로 공부하고 있는 초보 개발자
                p#profile-text
                    | 저는
                    br
                    | 대학 시절부터 서버 기술에 대해 관심을 가졌고, JSP와 Apache를 이용해 처음으로 웹서버를 만들어 봤습니다
                    br
                    | 현재는 JavaScript runtime인 Node.js와 프론트 기술인 React.js에 관심을 가지고 공부 중입니다.
                    br
                    | 관심을 갖게 되는 기술이라면 프론트/백 엔드를 가리지 않고 재밌게 배우는 편입니다
                    br
                    | 지금은 프론트/백 엔드 둘 다 어느정도 전문성을 가진 풀스택 개발자를 목표로 공부하고 있습니다.
                    br
                    //- br
                    //- | - 2013년 2월 효원고등학교 졸업
                    //- br
                    //- | - 2013년 3월 경기대학교(수원) 컴퓨터 과학과 입학
                    br
                    | - 2019년 8월 경기대학교(수원) 컴퓨터 과학과 졸업
                    br
                    
                .github-notion-container
                    #github
                        a(href='https://github.com/ASSSSN' target='_blank')
                            img(src=urls.assets + '/github.png')
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        a(href='https://www.notion.so/21e07a7bc68b49a681c513b5a112b38b?v=5129d91965c84d6ebfaa0368db0755ab' target='_blank')
                            img(src=urls.assets + '/notion.png')
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        a(href=urls.getmail onclick="window.open(this.href,'_blank', 'width=600, height=350');return false;")
                            img#email(src=urls.assets + '/email.png')
                #skills
                    h1 SKILLS
                    img(src=urls.assets + '/javascript.png')
                    img(src=urls.assets + '/nodejs.png')
                    img(src=urls.assets + '/html_js_css.jpg')   
                    img(src=urls.assets + '/pug.png')
                    img(src=urls.assets + '/react.png')     

                